---
import type { Project } from "@/data/projects";

type Props = Project;

const { title, techs, link, description, hasLink } = Astro.props;
const formatTechs = (values: string[]) => values.toString().replaceAll(",", " • ");
---

<article class="group my-3">
    {hasLink && link ? (
            <a
                    href={link}
                    target="_blank"
                    class="block hover:[&_h3]:text-[#9750d7] hover:[&_p:first-of-type]:text-neutral-100 transition-colors duration-300"
                    rel="noopener noreferrer"
            >
                <h3 class="text-lg font-medium">{title}</h3>
                {description && <p class="text-sm mt-2 text-neutral-400">{description}</p>}
                <p class="text-xs text-neutral-500 mt-1">{formatTechs(techs)} ↗</p>
            </a>
        ) : (
        <div class="hover:[&_h3]:text-[#9750d7] hover:[&_p:first-of-type]:text-neutral-100 transition-colors duration-300">
            <h3 class="text-lg font-medium">{title}</h3>
            {description && <p class="text-sm mt-2 text-neutral-400">{description}</p>}
            <p class="text-xs text-neutral-500 mt-1">{formatTechs(techs)}</p>
        </div>
        )}
        </article>